$color-light: rgb(240, 240, 240);
$color-grey: rgb(52, 42, 55);
$color-grey-s: rgb(81, 61, 74);
$color-grey-m: rgb(53, 29, 44);

$HEADER-BUTTON-WIDTH: 70px;
$HEADER-BUTTON-HEIGHT: 23px;
$WIDTH-PARAM-CONTAINER: 20rem;

@mixin button($bckgr-color, $width: $HEADER-BUTTON-WIDTH, $color: rgb(237, 237, 237), $height: $HEADER-BUTTON-HEIGHT) {
  color: $color;
  width: $width;
  height: $height;
  background-color: $bckgr-color;
  border-radius: 5px;
  border: none;
  font-size: 11px;
  font-weight: bold;
  padding: 5px;
  margin-right: 10px;
  &:active, &:hover, &:focus {
    cursor: pointer;
    background-color: $color-grey-m;
  }
}

@mixin flex-container() {
  display: flex;
  align-items: center;
  margin-top: 2vh;
}

.car-track {
  display: flex;
  border-bottom: 3px dotted $color-light;
  width:1250px;
  height: 65px;
  align-items: center;
}
.car-info-container, 
.title-container, 
.page-number-container {
  @include flex-container();
}
h1, h2 {
  margin-right: 10px;
}
.select-button, .remove-button {
  @include button($color-grey);
}