$color-light: rgb(240, 240, 240);
$color-grey: rgb(52, 42, 55);
$color-grey-s: rgb(81, 61, 74);
$color-grey-m: rgb(53, 29, 44);

$HEADER-BUTTON-WIDTH: 70px;
$HEADER-BUTTON-HEIGHT: 23px;
$WIDTH-PARAM-CONTAINER: 20rem;

$CAR-TRACK-HEIGHT: 90px;
$CAR-TRACK-WIDTH: 80vw;

@mixin button($bckgr-color, $width: $HEADER-BUTTON-WIDTH, $color: rgb(237, 237, 237), $height: $HEADER-BUTTON-HEIGHT) {
  color: $color;
  width: $width;
  height: $height;
  background-color: $bckgr-color;
  border-radius: 5px;
  border: none;
  font-size: 11px;
  font-weight: bold;
  padding: 5px;
  margin-right: 10px;
  &:active {
    cursor: pointer;
    background-color: $color-grey-m;
  }
}
.garage-list {
  margin-bottom: 10px;
}

@mixin flex-container() {
  display: flex;
  align-items: center;
  margin-top: 2vh;
}
.car-container {
  list-style-type: none;
  background-color: rgba(6, 6, 6, 0.4);
  padding: 10px;
  border-radius: 5px;
  width: 80vw;
  min-height: 60vh;
}
.road, .control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.car-track {
  border-bottom: 3px dotted $color-light;
  width: $CAR-TRACK-WIDTH;
  height: $CAR-TRACK-HEIGHT;
}
.car-info-container, 
.title-container, 
.page-number-container {
  @include flex-container();
}
h1, h2 {
  margin-right: 10px;
}
.car-model {
  font-size: 20px;
  font-weight: bold
}
.select-button, .remove-button {
  @include button($color-grey);
}